@font-face {
  font-family: "PT Sans";
  font-style: "normal";
  font-weight: "700";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: "normal";
  font-weight: "400";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
.section-title-white {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.section-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.section-subtitle-white {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.button{
  display: inline-block;
  cursor: pointer;
}

.button-brown:hover{
  background-color: #615048;
}

.button-brown:focus{
  background-color: #615048;
}

.button-brown:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:hover{
  background-color: #68A2CA;
}

.button-blue:focus{
  background-color: #68A2CA;
}

.button-blue:active{
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-green:hover{
  background-color: #6C9E42;
}

.button-green:focus{
  background-color: #6C9E42;
}

.button-green:active{
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:hover{
  opacity: 0.6;
}

.button-transparent:focus{
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-transparent:active{
  opacity: 0.3;
}

/**header*/

.header-container {
  display: flex;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  position: absolute;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 239px;
  width: 450px;
}

.navigation-item-link{
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding: 20px 17px 20px 17px;
}

.navigation-item-link:hover{
  background-color: #D3D3D3;
}

.navigation-item-link:focus{
  background-color: #D3D3D3;
}

.navigation-item-link:active{
  background-color: #C0C0C0;
}

.navigation-item-link-current{
  position: relative;
}

.navigation-item-link-current::after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  height: 2px;
  width: 68px;
  background-color: #756257;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
}

.user-navigation-item:last-child{
  margin-left: 20px;
}

.user-navigation-item:not(:last-child) a{
  display: block;
  width: 42px;
  height: 66px;
}

.header-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 9px 35px 8px 35px;
}

.user-navigation-link{
  position: relative;
}

.user-navigation-link:hover{
  background-color: #D3D3D3;
}

.user-navigation-link:focus{
  background-color: #D3D3D3;
}

.user-navigation-link:active{
  background-color: #C0C0C0;
}

.favorites{
  box-sizing: border-box;
  position: absolute;
  right: -2px;
  top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
  padding: 2px 5px 4px 5px;
  z-index: 1;
}

.navigation-icon{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: none;
}

/**promo*/

.promo {
  background-image: url("../images/promo-bottom.svg"),
    url("../images/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: bottom center, center;
  display: flex;
}

.promo-title-img {
  margin: 51px auto 83px auto;
}

/**advantage*/

.advantage{
padding-top: 63px;
counter-set: advantage-count;
}

.advantage-count-white::after{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  counter-increment: advantage-count;
  content: "— №" counter(advantage-count) " —";
  grid-row: 2 / 3;
  text-align: center;
}

.advantage-count-black::after{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  color: #000000;
  counter-increment: advantage-count;
  content: "— №" counter(advantage-count) " —";
  grid-row: 2 / 3;
  text-align: center;
}

.advantage .section-title{
  margin-bottom: 31px;
}

.advantage-wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: advantage-item-count;
}

.advantage-header {
  text-align: center;
  margin-bottom: 90px;
}

.advantage-item {
  display: flex;
  width: 400px;
}

.advantage-item-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 80px 85px;
  padding-top: 102px;
  width: 230px;
}

.advantage-item-wrapper-count{
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 30px;
  margin: 103px 85px 102px 85px;
}

.advantage-list-title-count{
  grid-row: 1 / 2;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantage-list-text-count{
  grid-row: 3 / 4;
  text-align: center;
  margin: 0;
}

.advantage-item-wrapper-housing{
  background-image: url("../images/advantage-item-housing.svg");
  background-repeat: no-repeat;
  background-size: 75px auto;
  background-position: top;
}

.advantage-item-wrapper-food{
  background-image: url("../images/advantage-item-food.svg");
  background-repeat: no-repeat;
  background-size: 74px auto;
  background-position: top;
}

.advantage-item-wrapper-souvenirs{
  background-image: url("../images/advantage-item-souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 64px auto;
  background-position: top;
}

.advantage-wrapper .advantage-item:nth-child(n+6):nth-child(-n+8) .advantage-item-wrapper{
  margin: 103px 85px 102px 85px;
}

.advantage-item:nth-child(2n + 2) {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(3) {
  background: #ffffff;
}

.advantage-item:nth-child(7) {
  background: rgba(131, 179, 211, 0.2);
}

.advantage-item-big {
  width: 1200px;
  display: flex;
  background: #82b3d3;
}

.advantage-item-big-text {
  display: grid;
  gap: 30px;
  grid-template-rows: auto auto auto;
  width: 400px;
  padding: 92px 85px;
  box-sizing: border-box;
}

.advantage-item-big-img {
  width: 800px;
}

.advantage-item-big-title {
  grid-row: 1 / 2;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantage-item-big-description {
  grid-row: 3 / 4;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.advantage-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
}

.advantage-list-text{
  margin: 0;
}

/**hotels*/

.hotels {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotels .section-title{
  margin-bottom: 29px;
}

.hotels .section-subtitle{
  margin-bottom: 56px;
}

.hotels-button {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  padding: 12px 148px 12px 148px;
}

/**subscription*/

.subscription-index {
  background-image: url("../images/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
}

.subscription-email {
  position: relative;
  background: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 20px 416px 16px 22px;
  box-sizing: border-box;
}

.subscription-email::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.subscription-button {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  background: #82b3d3;
  border-radius: 0 10px 10px 0;
  border: none;
  padding: 12px 34px 12px 34px;
}

.subscription-button:disabled{
  opacity: 0.3;
}

/**footer*/

.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  list-style: none;
  width: 116px;
  padding: 0;
  margin: 49px 0 54px 72px;
}

.social-item-icon{
  fill: #83B3D3;
}

.social-item-link:hover .social-item-icon{
  fill: #68A2CA;
}

.social-item-link:focus .social-item-icon{
  fill: #68A2CA;;
}

.social-item-link:active .social-item-icon{
  fill: rgba(104, 162, 202, 0.3);
}

.social-item:not(:last-child){
margin-right: 26px;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 45px auto 35px auto;
}

.phone:hover{
  color: #756157;
}

.phone:focus{
  color: #756157;
}

.phone:active{
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  margin: 44px 72px 43px 0;
}

.footer-logo-icon{
  fill: #000;
}

.footer-logo:hover .footer-logo-icon{
  fill: #756157;
}

.footer-logo:focus .footer-logo-icon{
  fill: #756157;
}

.footer-logo:active .footer-logo-icon{
  fill: rgba(117, 97, 87, 0.3);
}

/* Модальное окно */
.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-wrapper-close{
  display: none;
}

.modal{
  margin: auto;
  padding: 62px 70px 70px 68px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-button-close-icon{
  margin: auto;
  fill: #000000;
}

.modal-button-close{
  display: flex;
  position: absolute;
  top: -8px;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  outline: none;
}

.modal-button-close:hover{
  background-color: #E6E6E6;
}

.modal-button-close:focus{
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-button-close:active{
  background-color: #E6E6E6;
  fill: rgb(0, 0, 0, 0.3);
}

.modal-button-close:active .modal-button-close-icon{
  opacity: 0.3;
}

.modal-content{
  position: relative;
  width: 577px;
}

.modal-date-wrapper{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal-age-column > div{
  position: relative;
}

.modal-date-wrapper:first-child{
  margin-top: 63px;
  margin-bottom: -10px;
}

.modal-title{
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.modal-label{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  margin-right: 37px;
  margin-left: 3px;
  margin-top: 12px;
}

.tooltip-button{
  background-color: #83B3D3;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0;
  transform: translateY(-2px);
}

.tooltip-button:hover{
  background-color: #68A2CA;
}

.tooltip-button:hover + .tooltip-text{
  display: block;
}

.tooltip-button:focus + .tooltip-text{
  display: block;
}

.tooltip-button:disabled{
  opacity: 0.6;
}

.tooltip-button-icon{
  fill: #FFFFFF;
}

.modal-input-message{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
}

.modal-input-message:first-of-type{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.modal-input-message-error{
  color: #FF5757;
}

.input-modal{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  height: 50px;
  padding: 0;
}

.input-modal::placeholder{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.input-modal:hover{
  background-color: #E6E6E6;
}

.input-modal:focus{
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.input-modal:active{
  background-color: #FFFFFF;
  outline: 2px solid #000000;
  border-radius: 4px;
}

.input-date{
  width: 420px;
  padding-right: 47px;
  padding-left: 19px;
  box-sizing: border-box;
}

.modal-age-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 39px;
}

.modal-age-column{
  display: flex;
}

.modal-age-column:first-child .modal-label{
  margin-right: 66px;
}

.input-age{
  text-align: center;
  appearance: textfield;
}

.input-age:focus{
  z-index: 1;
}

.modal-age-input-wrapper{
  display: grid;
  grid-template-columns: 47px 39px 47px;
}

.input-age::-webkit-outer-spin-button,
.input-age::-webkit-inner-spin-button {
  appearance: none;
}

.button-age{
  border: none;
}

.button-age-icon{
  margin: auto;
  fill: #000000;
  opacity: 0.3;
}

.button-age:hover .button-age-icon{
  fill: #000000;
  opacity: 1;
}

.button-age:focus{
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  z-index: 1;
}

.button-age:active .button-age-icon{
  opacity: 0.2;
}

.button-age:disabled{
  opacity: 0.6;
}

.button-calendar{
  position: absolute;
  border: none;
  right: 13px;
  top: 17px;
  background-color: transparent;
}

.button-calendar:hover .button-calendar-icon{
  opacity: 0.6;
}

.button-calendar:active .button-calendar-icon{
  opacity: 1;
}

.button-calendar-icon{
  fill: #000000;
  opacity: 0.3;
}

.modal-button-submit{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 575px;
  height: 60px;
  background-color: #83B3D3;
  border-radius: 10px;
  border: none;
  padding: 0;
}

.modal-button-submit:hover{
  background-color: #68A2CA;
}

.modal-button-submit:focus{
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.modal-button-submit:active{
  color: rgb(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.form-label{
  margin-top: 12px;
}

.form-label .modal-label{
  margin-right: 3px;
}

.tooltip{
  margin-right: 19px;
}

.modal-button-submit:disabled{
  opacity: 0.6;
}

.tooltip-text{
  position: absolute;
  right: 35px;
  bottom: -47px;
  width: 256px;
  background-color: #333333;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 15px 18px 22px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 2;
  box-sizing: border-box;
  display: none;
}

.tooltip-text::after{
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  position: absolute;
  bottom: 100%;
  width: 19px;
  height: 9px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/*! Страница catalog*/
/**catalog-filter*/

.catalog-filter {
  background-image: url("../images/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: #000000;
  padding: 35px 70px 70px 70px;
  margin-bottom: 15px;
}

/* Шапка */

.catalog-filter-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: flex;
  font-size: 16px;
  color: #ffffff;
  list-style: none;
}

.breadcrumbs-item:not(:last-child):after{
  content: "";
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 5px;
  height: 8px;
  color: #FFFFFF;
  margin: auto 10px auto 10px;
}

.breadcrumbs-item:hover{
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:hover .breadcrumbs-icon{
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:active{
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:active .breadcrumbs-icon{
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon{
  fill: #FFFFFF;
}

/* Форма */
.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group:nth-child(2){
  margin-left: 70px;
}

.catalog-filter-group:nth-child(3){
  margin: 0 0 0 auto;
  width: 287px;
}

.catalog-filter-group:nth-child(3) .catalog-filter-legend{
  margin-bottom: 34px;
}

.catalog-filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding: 0;
  margin-bottom: 30px;
}

.filter-label{
  position: relative;
  padding-left: 40px;
}

.catalog-filter-list{
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  color: #ffffff;
  list-style: none;
}

.catalog-filter-item:not(:last-child){
  margin-bottom: 15px;
}

.filter-input{
  position: relative;
}

/* Колонка инфраструктура */
.checkbox-icon{
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.filter-label:hover .checkbox-icon{
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-input:focus + .checkbox-icon{
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.filter-label:active .checkbox-icon{
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-input:checked + .checkbox-icon{
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: center;
}

.filter-input:disabled + .checkbox-icon,
.filter-input:disabled:hover + .checkbox-icon{
  opacity: 0.3;
  background-color: #FFFFFF;
}

/* Колонка тип жилья */
.radio-icon{
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.filter-input:checked + .radio-icon::before{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.filter-input:focus + .radio-icon{
  outline: 3px solid #83B3D3;
}

.filter-input:not(:checked):focus + .radio-icon{
  outline: 3px solid #83B3D3;
}

.filter-input:disabled + .radio-icon{
  opacity: 0.3;
}

/* Колонка стоимость */

.catalog-filter-group-range{
  display: flex;
  flex-direction: column;
}

.price-range-group label {
  color: #ffffff;
  opacity: 0.3;
}

.price-range-input-label{
  display: flex;
  position: relative;
  justify-content: right;
}

.price-range-group input {
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: inherit;
}

.input-range-wrapper{
  display: flex;
  margin-bottom: 20px;
}

.price-range-input{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 0;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  height: 48px;
  width: 144px;
  box-sizing: border-box;
  appearance: textfield;
  padding-right: 43px;
  padding-left: 16px;
}

.price-range-span-min,
.price-range-span-max{
  position: absolute;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 0.3;
}

.price-range-span-min{
  align-self: center;
  margin: auto 14px auto auto;
}

.price-range-span-max{
  align-self: center;
  margin: auto 17px auto auto;
}

.price-range-input-min{
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #FFFFFF;
}

.price-range-input-max{
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #FFFFFF;
}

.price-range-input::-webkit-outer-spin-button,
.price-range-input::-webkit-inner-spin-button {
  appearance: none;
}

.range{
  position: relative;
  height: 4px;
  width: 277px;
  background-color: rgb(255, 255, 255, 0.3);
}

.scale-range-wrapper{
  margin-left: auto;
}

.range-bar{
  position: absolute;
  background-color: #FFFFFF;
  height: 4px;
}

.range-toggle{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle-min{
  top: -8px;
  left: -10px;
}

.range-toggle-max{
  top: -8px;
  right: -10px;
}

.range-toggle:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:active{
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83B3D3;
}

.range-toggle:disabled{
  opacity: 0.6;
}

.price-range-input:hover{
  border-color: rgb(255, 255, 255, 0.6);;
}

.price-range-input:focus{
  box-shadow: 0 0 0 3px #81B3D2;
}

.price-range-input:active{
  background-color: #756257;
  box-shadow: none;
  outline: none;
}

.price-range-input:disabled,
.price-range-input:disabled:hover,
.price-range-input:disabled:active{
  opacity: 0.3;
  border-color: #FFFFFF;
  background-color: transparent;
}

/* Кнопки */

/* Обёртка для кнопок */
.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 0 70px;
}

/* Кнопка применить */
.catalog-filter-button-submit {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: #82b3d3;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  padding: 14px 35px 14px 35px;
}

.catalog-filter-button-submit:disabled{
  opacity: 0.3;
}

/* Кнопка сбросить */
.catalog-filter-button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100px;
  height: 32px;
  box-sizing: border-box;
}

.catalog-filter-button-reset:disabled{
  opacity: 0.3;
}

/**catalog*/

.catalog{
  padding-top: 50px;
  padding-bottom: 29px;
}

.select-price {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  height: 49px;
  width: 290px;
  margin-left: 191px;
  padding-left: 18px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: right 18px center;
  appearance: none;
  outline: none;
}

.select-price:hover{
  border-color: #68A2CA;
}

.select-price:focus{
  border: 2px solid #68A2CA;
}

.select-price:active{
  border: 2px solid #3F5E72;
}

.select-price:disabled{
  opacity: 0.3;
}

.catalog-header {
  display: flex;
  align-items: center;
  margin-left: 72px;
  margin-right: 71px;
  margin-bottom: 57px;
}

.appearance-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.appearance-item{
  list-style: none;
}

.appearance-item:not(:last-child){
  margin-right: 8px;
}

.apperance-item-icon{
  fill: #000000;
}

.apperance-item-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.apperance-item-link-current{
  border-color: #000000;
}

.apperance-item-link:hover{
  border-color: #000000;
}

.apperance-item-link:focus{
  border-color: #68A2CA;
}

.apperance-item-link:active{
  border-color: #000000;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 1056px;
  margin-bottom: 66px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
}

.catalog-item-link {
  text-decoration: none;
}

.catalog-item-img{
  display: block;
  object-fit: contain;
}

.catalog-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 16px 0 16px 0;
}

.catalog-item-subtitle{
  margin: 0;
}

.catalog-item-price{
  margin: 0;
}

.catalog-item-price-wrapper{
  display: grid;
  grid-template-columns: 133px 143px;
  gap: 24px;
  margin-bottom: 16px;
}

.catalog-item-button-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.catalog-item-rating-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars{
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: 18px;
  height: 17px;
}

.stars-two{
  width: 41px;
}

.stars-three{
  width: 65px;
}

.stars-four{
  width: 89px;
}

.divider{
  border: 1px solid #E6E6E6;
  margin: 0 auto 31px auto;
  width: 1055px;
}

.catalog-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 73px;
  margin-right: 71px;
}

.pagination-wrapper {
  display: flex;
}

.number-hotels-wrapper{
  display: flex;
}

.hotels-number-title{
  margin: 16px 51px 18px 0;
}

.select-hotels-number {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  width: 160px;
  height: 49px;
  margin: 3px 0 4px 0;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  padding-left: 20px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: right 18px center;
  outline: none;
}

.select-hotels-number:hover{
  border-color: #68A2CA;
}

.select-hotels-number:focus{
  border: 2px solid #68A2CA;
}

.select-hotels-number:active{
  border: 2px solid #3F5E72;
}

.select-hotels-number:disabled{
  opacity: 0.3;
}

.catalog-item-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.catalog-item-detailed-button {
  background: #756157;
  border-radius: 4px;
  padding: 9px 26px 8px 26px;
}

.catalog-item-favorites-button {
  background: #82b3d3;
  border-radius: 4px;
  padding: 9px 20px 8px 20px;
}

.catalog-star:not(:last-child){
  margin-right: 6px;
}

.catalog-item-rating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  align-self: flex-end;
}

.catalog-item-favorites-button-active {
  background: #7db54f;
  border-radius: 4px;
  padding: 9px 18px 8px 18px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
}

.pagination-item:not(:last-child){
  margin-right: 8px;
}

.pagination-item:hover:not(.pagination-item-current){
  background: #68A2CA;
}

.pagination-item:focus:not(.pagination-item-current){
  background: #68A2CA;
}

.pagination-item:active:not(.pagination-item-current){
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item-current {
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

/**subscription-catalog*/

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscription .section-title-white,
.subscription .section-title{
  margin-bottom: 29px;
}

.subscription .section-subtitle-white,
.subscription .section-subtitle{
  margin-bottom: 46px;
}

.subscription-form {
  display: flex;
}
