    @font-face {
    font-family: "PT Sans";
    font-style: "normal";
    font-weight: "700";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

    @font-face {
    font-family: "PT Sans";
    font-style: "normal";
    font-weight: "400";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
    }

    body{
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0 none;
        clip-path: inset(100%);
    }

    .section-title{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #000000;
        text-transform: uppercase;
    }
    .section-title-white{
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .section-subtitle{
        font-size: 22px;
        line-height: 26px;
        color: #333333;
    }


    .section-subtitle-white{
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
    }

    /**header*/

    .navigation-list {
        list-style: none;
    }
    .navigation-item a{
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
    }

    .user-navigation-list {
        list-style: none;
    }
    .user-navigation-item {
        width: 42px;
        height: 66px;
    }

    .search{
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        background-size: auto auto;
    }

    .favorites{
        background-image: url("../images/favorite.svg");
        background-repeat: no-repeat;
        background-size: auto auto;
    }
    
    .header-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
        background: #756157;
        border-radius: 4px;
        text-transform: uppercase;
        width: 160px;
        height: 37px;
    }

    /**promo*/

    .promo {
        background-image: url("../images/promo-bottom.svg"), url("../images/promo-background.jpg");
        background-repeat: no-repeat;
        background-size: auto auto;
        background-position: bottom center, center;
    }

    /**advantage*/

    .advantage-wrapper {
        list-style: none;
    }
    .advantage-item-big div{
        background: #82B3D3;
    }

    .advantage-item-big-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .advantage-item-big-numbering{
        color: #FFFFFF;
    }

    .advantage-item-big-description {
        color: #FFFFFF;
    }
    .advantage-list-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        text-transform: uppercase;
    }
    
    .advantage-item-bg-1{
        background: rgba(131, 179, 211, 0.12);
    }

    .advantage-item-bg-2{
        background: rgba(131, 179, 211, 0.2);
    }

    .advantage-item-bg-white{
        background: #FFFFFF;
    }

    /**hotels*/

    .hotels-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        color: #FFFFFF;
        background: #756157;
        text-transform: uppercase;
        border-radius: 4px;
        text-decoration: none;
        width: 574px;
        height: 60px;
    }

    /**subscription*/
    
    .subscription {
        background-image: url("../images/subscription-background.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-color: #000000;
    }

    .subscription-email::placeholder {
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        opacity: 0.6;
    }

    .subscription-email{
        width: 600px;
        height: 60px;
        background: #F2F2F2;
        border: none;
        border-radius: 0px 10px 10px 0px;
    }
    .subscription-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        font-style: inherit;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        color: #FFFFFF;
        text-transform: uppercase;
        background: #82B3D3;
        border-radius: 0px 10px 10px 0px;
        border: none;
        width: 200px;
        height: 60px;
    }

    /**footer*/


    .social-list {
        list-style: none;
    }

    .phone {
        font-size: 40px;
        line-height: 40px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
    }

    /*! Страница catalog*/
    /**catalog-filter*/

    .catalog-filter {
        background-image: url("../images/catalog-filter-background.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        background-color: #000000;
    }

    .catalog-filter-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 78px;
        color: #FFFFFF;
    }

    .breadcrumbs-item {
        font-size: 16px;
        color: #FFFFFF;
        list-style: none;
    }

    .catalog-filter-group {
        border: none;
    }
    .catalog-filter-legend {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
    }

    .catalog-filter-item {
        color: #FFFFFF;
        list-style: none;
    }
    .price-range-group label{
        color: #FFFFFF;
        opacity: 0.3;
    }

    .price-range-group input{
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        background-color: inherit;
    }

    .catalog-filter-button-submit {
        font-family: inherit;
        font-style: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-transform: uppercase;
        background: #82B3D3;
        border-radius: 4px;
        width: 160px;
        height: 48px;
        border: none;
    }
    .catalog-filter-button-reset {
        font-family: inherit;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: transparent;
    }

    /**catalog*/

    .catalog {
    }

    .select-price{
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
    }
    .catalog-header {
    }
    .found-pages {
    }
    .appearance-list {
    }
    .appearance-item {
        list-style: none;
    }
    .catalog-list {
        list-style: none;
    }
    .catalog-item {
    }

    .catalog-item-link{
        text-decoration: none;
    }

    .catalog-item-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    .catalog-item-subtitle {
    }
    .catalog-item-price {
    }

    .catalog-item-button{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFFFFF;
        width: 140px;
        height: 37px;
    }

    .catalog-item-detailed-button {
        background: #756157;
        border-radius: 4px;
    }
    .catalog-item-favorites-button {
        background: #82B3D3;
        border-radius: 4px;
    }
    .catalog-item-rating {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        background: #F2F2F2;
        border-radius: 4px;
        width: 160px;
        height: 37px;
    }

    .catalog-item-favorites-button-active {
        background: #7DB54F;
        border-radius: 4px;
    }
    .catalog-bottom-wrapper {
    }
    .pagination-wrapper {
    }
    .pagination-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        color: #FFFFFF;
        text-decoration: none;
        background: #82B3D3;
        border: 1px solid #82B3D3;
        border-radius: 4px;
        width: 55px;
        height: 55px;
    }

    .pagination-item-current{
        color: #000000;
        background: #F2F2F2;
        border-radius: 4px;
        border: 1px solid #F2F2F2;
    }
    
    .hotels-number-title {
    }
